{% extends "base.html" %}

{% block content %}
<h1>Дорогая Александра,</h1>
<head>
    <meta charset="utf-8">
    <title>Приглашение на свидание</title>


</head>
<body>
<header class="">
    <div class="">
        <p class="">Приглашаю тебя на встречу 24 сентября 2025 года</p>
    </div>
</header>

<section class="">
    <img src="static/img/kotik.jpg" alt="Картинка" width="300">
    <h2>Почему стоит пойти?:</h2>
    <ul class="">
        <li>🎉Это возможность прогуляться по новым местам</li>
        <li>💖 Я — творческий программист, который сделал для тебя это необычное приглашение, а это значит, что скучно со
            мной точне не будет
        </li>
        <li> 🫦 Ты сможешь познакомиться со мной поближе</li>
        <li> 🌞 Теплых дней все меньше, а это значит, что прогулка - отличная возможность почувствовать уходящее солнце
        </li>
        <li>🪄 Я сделаю тебе таро расклад</li>
        <li>🌈 Это возможность увидеть прекрасную меня</li>

        <li>🥹 пожалуйста!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</li>
    </ul>


    <footer class="">
        <div class="">
            <p class="">© Александра Никонова, креативный программист, 2025</p>
        </div>
    </footer>
    </body>
</html>
{% endblock %}